<!-- section 1 -->
<div class="mt-5">
  <div id="carouselExample" class="carousel slide home-carousel" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
      <div class="carousel-item active bg-carousel">
        <div class="carousel-caption d-flex flex-column h-100 justify-content-center">
          <div class="col-md-12">
            <div class="row align-items-center text-start">
              <div class="col-md-5">
                <h1>Elevate Your Space with Timeless Elegance</h1>
                <p class="para-head">we believe that great interior design is more than just aesthetics – it's about
                  creating spaces that inspire, rejuvenate, and reflect your personal style. Our design studio
                  specializes in transforming homes and commercial spaces into functional, beautiful environments that
                  blend modern trends with timeless appeal.</p>
                <div>
                  <a class="btn me-2 yellow-btn">Shop Now</a>
                  <a class="btn bg-white-btn">Explore</a>
                </div>
              </div>
              <div class="col-md-7 text-center">
                <img src="/assets/images/couch.png" alt="couch">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item bg-carousel">
        <div class="carousel-caption d-flex flex-column h-100 justify-content-center">
          <div class="col-md-12">
            <div class="row align-items-center">
              <div class="col-md-5 text-start">
                <img src="/assets/images/chair3.png" alt="couch" class="img-3">
              </div>
              <div class="col-md-7 text-start">
                <h1>Where Innovation Meets Functionality</h1>
                <p>We understand that every space has its unique character and purpose. Our team of experienced
                  designers works closely with you to craft interiors that balance luxury with practicality. Whether
                  it’s a sleek urban apartment, a cozy home retreat, or a cutting-edge office, we bring creative
                  solutions that suit your lifestyle and vision.</p>
                <div>
                  <a class="btn me-2 yellow-btn">Shop Now</a>
                  <a class="btn bg-white-btn">Explore</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item bg-carousel">
        <div class="carousel-caption d-flex flex-column h-100 justify-content-center">
          <div class="col-md-12">
            <div class="row align-items-center">
              <div class="col-md-5 text-start">
                <img src="/assets/images/chair2.png" alt="couch" class="img-3">
              </div>
              <div class="col-md-7 text-start">
                <h1>Ready to Redesign Your Space?</h1>
                <p>Take the first step toward transforming your interior into something extraordinary. Whether you're
                  seeking a fresh look for your home or need to revamp your business environment, we’re here to turn
                  your design dreams into reality.</p>
                <div>
                  <a class="btn me-2 yellow-btn">Shop Now</a>
                  <a class="btn bg-white-btn">Explore</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- section 2 -->
<app-choose-us></app-choose-us>
<!-- section 3 -->
<div class="row justify-content-center">
  <div class="col-md-8">
    <app-testimonial></app-testimonial>
  </div>
</div>