<div class="bg-gray">
    <div class="container p-5">
        <h2>Why Choose Us</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/choose/fast.svg" alt="fast">
                <h5>Fast & Free Shipping</h5>
                <p>We understand how important it is for you to receive your orders quickly. That’s why we offer fast
                    and
                    free shipping on all eligible items, ensuring you get your products as soon as possible without any
                    extra cost.</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/choose/shop.svg" alt="fast">
                <h5>Easy to Shop</h5>
                <p>Our user-friendly website and intuitive mobile app make shopping a breeze. With just a few clicks,
                    you
                    can find exactly what you need, place your order, and track it in real-time, all from the comfort of
                    your home.</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/choose/available.svg" alt="fast">
                <h5>24/7 Customer Support</h5>
                <p>Have a question or concern? Our dedicated customer support team is available around the clock, ready
                    to
                    assist you with any inquiries or issues you may encounter. We're here to ensure your shopping
                    experience
                    is smooth and worry-free.</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/choose/return.svg" alt="fast">
                <h5>Hassle-Free Returns</h5>
                <p>Not satisfied with your purchase? No problem! We offer hassle-free returns, allowing you to send back
                    items easily and get a refund or exchange without any complications. Your satisfaction is our
                    priority.
                </p>
            </div>
        </div>
    </div>
</div>